---

---

<div class="takoSwapContainer">
  <div></div>
  <div class="takoSwapBox">
    <div>
      <a
        href="https://takoswap.app/pool/0xA39Cc9C03af712e9B8BD27Bb40e8f84e84Ae0ec1"
        >$MUSK</a
      > is available for trading on <a href="https://takoswap.app/">TakoSwap</a
      >, the first DEX on the <a href="https://opengpu.network/"
        >OpenGPU network</a
      >!
    </div>
  </div>
  <div></div>
</div>
<style>
  .takoSwapContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    gap: 2rem;
    align-items: center;
  }
  .takoSwapBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
  }
  .takoSwapTitle {
    font-size: 2rem;
    font-weight: bold;
  }
</style>
