---
import TakoSwap from './TakoSwap.astro';
---

<TakoSwap />
<div class="tokenomicsContainer">
  <div></div>
  <div class="tokenomicsBox">
    <div class="tokenomicsTitle">TOKENOMICS</div>
    <div class="tokenomicsBody">
      <div class="tokenomicsBodyItem">
        TOKEN NAME
        <span>Must Use Some Ketamine</span>
      </div>
      <div class="tokenomicsBodyItem">
        TOKEN SYMBOL
        <span>$MUSK</span>
      </div>
      <div class="tokenomicsBodyItem">
        TOTAL SUPPLY
        <span>50,000,000</span>
      </div>
      <div class="tokenomicsBodyItem">
        CIRCULATING SUPPLY
        <span>45,000,000</span>
      </div>
      <div class="tokenomicsBodyItem">
        CA
        <span>
          <a
            href="https://ogpuscan.io/address/0xc5f53ff334f56E40168A81B7314FA5FEAbdbAB96"
            >0xc5f53ff334f56E40168A81B7314FA5FEAbdbAB96
          </a>
        </span>
      </div>
      <div class="tokenomicsBodyItem">NO TAX</div>
    </div>
  </div>
  <div></div>
</div>
<style>
  .tokenomicsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    gap: 2rem;
    align-items: flex-start;
  }
  .tokenomicsBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: #211e25;
    border-radius: 8px;
    gap: 2rem;
    box-shadow: 8px 8px 5.3px #0000006e;
    height: -webkit-fill-available;
  }
  .tokenomicsTitle {
    font-weight: 800;
    font-size: 62px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    color: #f9efe9;
  }
  .tokenomicsBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .tokenomicsBodyItem {
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
    color: #f9e9d2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    color: #f9e9d2;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
